@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
p {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  background: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}
.container {
  opacity: 0.7;
  background-color: black;
  z-index: 5;
  padding: 1rem;
  border-radius: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
header {
  border-bottom: 1px solid rgb(29, 161, 223);
  margin: 1rem;
}
#incomplete,
#complete {
  margin-right: 0.3rem;
}
#status-overall {
  margin: 1rem 0;
}
section {
  margin: 1rem 0;
}
.todo {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
input[type="checkbox"] {
  align-self: flex-start;
}
.category {
  font-size: 0.8rem;
  color: rgb(10, 186, 240);
}
#btn-add {
  font-size: 2rem;
  width: fit-content;
  padding: 0.2rem 0.8rem;
  border-radius: 50%;
  color: white;
  background-color: dodgerblue;
  align-self: self-end;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.4s;
}
#btn-add:hover {
  background-color: rgb(11, 101, 192);
}
@media only screen and (min-width: 780px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: min(100%, 350px);
    margin: 2rem;
  }
  p {
    font-size: 1.4rem;
  }
  .category {
    font-size: 1rem;
  }
  input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }
  #btn-add {
    position: absolute;
    bottom: 40%;
    right: 42%;
  }
  .form-popup {
    margin-right: 41%;
    margin-top: -3%;
  }
}
/************** POPUP FORM ********************/

.form-popup {
  display: none;
  position: absolute;
  opacity: 1;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black;
  border: 2px solid rgb(169, 170, 172);
  border-radius: 1rem;
}
.form-container h2 {
  margin-bottom: 0.5rem;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background: rgb(178, 211, 238);
  font-size: 1rem;
}

.form-container input[type="text"]:focus {
  background-color: rgb(48, 141, 218);
  outline: none;
  color: white;
}

.form-container .btn {
  background-color: #057c50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 1rem;
}

.form-container #btn-cancel {
  background-color: rgb(71, 61, 61);
}

.form-container .btn:hover {
  opacity: 1;
}
